@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.footer-text{
    text-align: center;
    font-size: 14px;
}
.card-options{
    display: flex;
    justify-content: space-between;
}

.card-options-image{
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    height: 65px;
    width: 65px;

}

.section-bigger-container-section-6{
    margin: 10px 10px 10px 20px;
    padding-bottom: 100px;
}
